__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# Environments
.env
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Others
*.sqlite3


Readme.md